@charset "UTF-8";
html {
	padding: 20px;
}
body {
	font-family: Helvetica, Arial, "sans-serif";
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
	border-top: solid thin #000;
	border-bottom: solid thin #000;
	background-color: #c0c0c0;
	padding-top: 12px;
	padding-bottom: 10px;
}
.year {
	float: right;
	width: 200px;
	text-align: right;
}
#address {
	height: 500px;
	float:left;
	width: 25%;
	vertical-align: bottom;
	border:solid 1px #000;
	padding: 5px;
	text-align: center;
}
#content {
	float:right;
	width: 70%;
	vertical-align: bottom;
	padding: 5px;
}
footer {
	clear: both;
	top-border: think solid #000;
	text-align: center;
}
footer span{
	align:right;
	width: 350px;
}

